@import "./variables.scss";

$body-margin-top: 32px;
$body-margin-horizontal: 21px;

@media #{$mq-not-phone} {
  $body-margin-top: 41px;
  $body-margin-horizontal: 39px;
}

body {
  background-color: #F2FCFB;
  font-family: Helvetica, 'Segoe UI', sans-serif;
  margin: 0;
}

.link {
  text-decoration: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg);
  border-radius: 3px;
  width: 297px;
  height: 51px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  border: 2.5px solid var(--button-bg);
  transition: all 20ms ease-in-out;

  margin: 0 auto;

  @media #{$mq-not-phone} {
    margin: unset;
  }

  &:hover {
    background-color: white;
    color: var(--button-bg);
  }
}

nav {
  margin: $body-margin-top $body-margin-horizontal 0px $body-margin-horizontal;
}

.container {
  margin: $body-margin-top $body-margin-horizontal 0px $body-margin-horizontal;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: 50px;
    }

    &__menu {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 20px;
      align-items: center;

      a {
        font-size: 18px;
        color: #5F6B7A;
        text-align: left;

        .link {
          color: #F59369;
          text-align: left;
          text-decoration: underline;

          @media #{$mq-not-phone} {
            display: none;
          }
        }

        &:not(.link) {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .button {
        display: none;

        @media #{$mq-not-phone} {
          display: flex;
          width: 207px;
          margin-left: 12px;
        }
      }
    }
  }

  &__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    color: #0C2741;
    margin-top: 32px;

    @media #{$mq-not-phone} {
      font-size: 80px;
      line-height: 95px;
    }

    &__break {
      &_mobile {
        @media #{$mq-not-phone} {
          display: none;
        }
      }

      &_desktop {
        display: none;
        @media #{$mq-not-phone} {
          display: initial;
        }
      }
    }
  }

  &__copy {
    font-size: 1em;
    line-height: 27px;
    color: #5F6B7A;
    font-weight: 300;

    @media #{$mq-not-phone} {
      font-size: 1.25em;
      line-height: 30px;
      max-width: 671px;
    }
  }
}

.contact {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 16px;

  background-color: #0C2741;
  color: white;
  padding: 46px 16px;

  @media #{$mq-not-phone} {
    justify-items: center;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    color: #F2FCFB;
  }

  &__tagline {
    font-size: 22px;
    color: #F2FCFB;

    @media #{$mq-not-phone} {
      font-size: 28px;
    }

    a {
      color: #F2FCFB;

      &:hover {
        text-decoration: none;
      }
    }
  }

  #contact-link {
    margin-top: 47px;

    @media #{$mq-not-phone} {
      margin-top: 38px;
    }
  }

  .underline {
    text-decoration: underline;
  }
}
