@import "./common.scss";

.container {
  #projects-link {
    margin-top: 32px;
  }

  &__skills {
    background-color: white;
    box-shadow: 8px 4px 4px 0 rgba(0,0,0,0.10);
    margin: 64px (-$body-margin-horizontal);
    padding: $body-margin-horizontal;

    @media #{$mq-not-phone} {
      padding-right: calc(#{$body-margin-horizontal} + 50%);
    }

    &__title {
      font-size: 40px;
      font-weight: 700;
      color: #1F3040;

      @media #{$mq-not-phone} {
        font-size: 52px;
        max-width: 639px;
      }
    }

    &__description {
      font-size: 18px;
      line-height: 24px;
      color: #737272;

      @media #{$mq-not-phone} {
        font-size: 23px;
        line-height: 30px;
        max-width: 563px;
      }
    }

    &__list {
      display: grid;
      grid-template-areas:
        "mobile"
        "webdev"
        "games";
      grid-row-gap: 14px;

      @media #{$mq-not-phone} {
        grid-template-areas:
          "webdev games"
          "mobile nada";
        grid-row-gap: 32px;
      }

      .skill {
        display: grid;
        grid-template-areas:
          "icon title"
          "nada list";
        grid-template-columns: 31px 1fr;
        grid-row-gap: 5px;
        grid-column-gap: 8px;
        align-items: center;

        @media #{$mq-not-phone} {
          grid-row-gap: 8px;
        }

        &__icon {
          grid-area: icon;
        }

        &__title {
          grid-area: title;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;

          @media #{$mq-not-phone} {
            font-size: 16px;
          }
        }
  
        &__list {
          grid-area: list;
          margin: 0;
          padding: 0;
          list-style: none;
  
          li {
            color: #737272;
            font-size: 12px;
            line-height: 18px;

            @media #{$mq-not-phone} {
              font-size: 16px;
              line-height: 175%;
            }
          }
        }

        &.webdev {
          grid-area: webdev;
          color: #1B929B;
        }

        &.games {
          grid-area: games;
          color: #C23230;
        }

        &.mobile {
          grid-area: mobile;
          color: #4298CC;
        }
      }
    }
  }
}

.contact {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 16px;

  background-color: #0C2741;
  color: white;
  padding: 46px 16px;

  @media #{$mq-not-phone} {
    justify-items: center;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    color: #F2FCFB;
  }

  &__tagline {
    font-size: 22px;
    color: #F2FCFB;

    @media #{$mq-not-phone} {
      font-size: 28px;
    }

    a {
      color: #F2FCFB;

      &:hover {
        text-decoration: none;
      }
    }
  }

  #contact-link {
    margin-top: 47px;

    @media #{$mq-not-phone} {
      margin-top: 38px;
    }
  }

  .underline {
    text-decoration: underline;
  }
}
