@import './common.scss';

$project-item-margin-desktop: 1.5rem;

.container {
  &__copy {
    font-size: 18px;
    max-width: 549px;
  }

  &__projects {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 35px;
    margin: 26px 0px 64px 0px;

    @media #{$mq-not-phone} {
      display: flex;
      flex-wrap: wrap;
      padding: 0 15%;
      justify-content: center;
      margin: 45px 0px;
      align-items: flex-start;
      grid-row-gap: unset;
    }

    .project {
      display: flex;
      flex-direction: column;

      @media #{$mq-not-phone} {
        flex-basis: calc(50% - #{$project-item-margin-desktop} - #{$project-item-margin-desktop});
        flex-shrink: 0;
        margin: $project-item-margin-desktop;
      }

      &__banner {
        object-fit: cover;
        width: 100%;
        margin-bottom: 8px;
      }

      &__title {
        font-size: 0.9em;
        font-weight: 700;
        color: #0C2741;
      }

      &__owner, &__skills {
        color: rgba(15,59,87,70%);
        font-size: 0.9em;
        line-height: 1.35em;
        margin-top: 2.5px;
      }
    }
  }
}

.contact {
  #contact-link {
    margin-top: 0px;

    @media #{$mq-not-phone} {
      margin-top: 0px;
    }
  }
}