@import './common.scss';

.container {
  &__copy {
    font-size: 18px;
  }

  &__projects {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 35px;
    margin: 26px 0px 64px 0px;

    @media #{$mq-not-phone} {
      display: flex;
      flex-wrap: wrap;
      padding: 0 15%;
      justify-content: center;
      margin: 18px 0px 371px 0px;
      align-items: flex-start;
      grid-row-gap: unset;
    }

    .project {
      display: flex;
      flex-direction: column;

      @media #{$mq-not-phone} {
        flex-basis: calc(50% - 115px);
        flex-shrink: 0;
        margin: 0 57.5px 80px 57.5px;
      }

      &__banner {
        object-fit: cover;
        width: 100%;
        margin-bottom: 8px;
      }

      &__title {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color: #0C2741;
      }

      &__owner {
        color: rgba(15,59,87,70%);
        font-size: 18px;
        line-height: 27px;
      }

      &__summary {
        font-size: 18px;
        line-height: 22px;
        color: #737272;
        margin-top: 2px;
        margin-bottom: 0px;
      }
    }
  }
}
