{{ define "main" }}
  {{ .Content }}
  <div class="container">
    {{ range .Pages }}
      <div class="blog-post-item">
        <a href="{{ .RelPermalink }}">
          <h2>{{ .LinkTitle }}</h2>
        </a>
        <p>{{ .Summary }}</p>

        <div class="metadata">
          {{ with .Param "author" | printf "/meet-the-team/%s" | .Site.GetPage }}
            <div class="blog-author">
              <img class="author-avatar" src="{{ .Param "avatar" }}" alt="">
              <span>{{ .Param "title" }}</span>
            </div>
          {{ end }}

          <time>{{ .Date | time.Format ":date_medium" }}</time>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
